.front_view {
  background: #F5F3F0;
    .navbar-brand {
      color: $light-orange;
      font-size: 2em;
    }
  .login-form {
    margin-top: 100px;
  }
  .after_login_view {
    .slogan {
      text-align: center;
      margin: 20% auto;
      font-size: 4em;
      font-weight: 300;
    }
  }
}